.venv
site/
data-pipeline-architecture.md
env.fish
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
/build/
/develop-eggs/
/dist/
/downloads/
/eggs/
/.eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
/wheels/
/pip-wheel-metadata/
/share/python-wheels/
/share/jupyter/
.installed.cfg
*.egg-info/
.egg-info/
*.egg
/MANIFEST
/.idea/
*.iml
*.iws
*.ipr
*.swp
*.swo
*.swn
*~
nxd/
nxd.log.
/nb/
/.ipynb_checkpoints
*.bak
*.orig
*.log
*.rej
*.DS_Store
*.tmp
*.local
setup.cfg
